:root {
    --background: #141414; /* Cor de fundo escura */
    --background-main: #e50914; /* Vermelho escuro – cor principal */
    --button: #e50914; /* Botão vermelho */
    --button-active: #f40b20; /* Vermelho mais claro para estado ativo */
    --text-color: #ffffff; /* Texto em branco */
    --shadow: rgba(0, 0, 0, 0.5); /* Sombra para elementos */
}

* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: var(--background); /* Usando a cor de fundo escura */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--shadow);
    width: 300px;
    transition: .2s;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 5px #000);
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: transparent;
    color: var(--text-color);
    opacity: 0.5;
    transition: 0.2s;
}

.form-group input:hover {
    width: 100%;
    opacity: 1;
}

.form-group input:focus {
    border-color: var(--button);
}

.login-button {
    width: 100%;
    padding: 15px;
    background-color: var(--button);
    color: var(--text-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.login-button:hover {
    background-color: var(--button-active);
    padding: 15px 50px; /* Altera o padding somente no hover para um efeito interessante */
}